*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  min-height: 100%;
  min-width: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

.logoBox {
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  top: 0;
  text-align: center;
  background-color: #000000;
  z-index: 10;
}

.timeline-container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 0 0 40px 0;
}

.timeline-container::after {
  background-color: #e17b77;
  content: "";
  position: absolute;
  left: calc(50% - 2px);
  width: 4px;
  height: 100%;
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
}

.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timeline-item-content {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  position: relative;
  width: 400px;
  max-width: 70%;
  text-align: right;
}

.timeline-item-content::after {
  content: " ";
  background-color: #fff;
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -7.5px;
  top: calc(50% - 7.5px);
  transform: rotate(45deg);
  width: 15px;
  height: 15px;
}

.timeline-item:nth-child(odd) .timeline-item-content {
  text-align: left;
  align-items: flex-start;
}

.timeline-item:nth-child(odd) .timeline-item-content::after {
  right: auto;
  left: -7.5px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timeline-item-content .tag {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  top: 5px;
  left: 5px;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
}

.timeline-item-content .phase {
  color: #fff;
  background-color: #d2b98e;
  font-size: 12px;
  font-weight: bold;
  top: 40px;
  left: 5px;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
}

.timeline-item:nth-child(odd) .timeline-item-content .tag {
  left: auto;
  right: 5px;
}

.timeline-item:nth-child(odd) .timeline-item-content .phase {
  left: auto;
  right: 5px;
}

.timeline-item-content time {
  color: #777;
  font-size: 12px;
  font-weight: bold;
}

.timeline-item-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 250px;
}

/* .timeline-item-content a {
  font-size: 14px;
  font-weight: bold;
}
.timeline-item-content a::after {
  content: ' ►';
  font-size: 12px;
} */

.timeline-item-content .circle {
  /* background-color: #fff; */
  /* border: 3px solid #e17b77; */
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 20px);
  right: -50px;
  width: 40px;
  height: 40px;
  z-index: 9;
}

h1 {
  text-align: center;
}

.timeline-item:nth-child(odd) .timeline-item-content .circle {
  right: auto;
  left: -50px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 11;
  top: 125%;
  left: 50%;
  margin-left: -200px;
  opacity: 0;
  transition: opacity 0.3s;
  width: 400px;
}

ul.horizontal_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
}

ul.horizontal_menu li {
  width: 25vw;
}

.filter {
  color: #d2b98e;
  text-align: center;
  font-size: 20px;
  line-height: 24px;
  font-family: aktiv-grotesk, sans-serif;
  font-weight: 500;
  cursor: pointer;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent #555 transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.creditsBox {
  background-color: #fff;
  position: -webkit-sticky;
  /* Safari */
  position: sticky;
  bottom: 0;
  text-align: center;
  z-index: 1000;
}

.credits {
  color: rgba(0, 0, 0, 0.4);
  transition: color 0.3s;
  transition-delay: 0.15s;
  margin: 0 10px;
  text-align: center;
  cursor: pointer;
}

.credits:hover {
  transition: color 0.3s;
  color: rgba(0, 0, 0, 0.8);
}

.credits:i {
  font-size: 19px;
  cursor: pointer;
}

@media only screen and (max-width: 1023px) {
  .timeline-item-content {
    max-width: 100%;
  }
}

@media only screen and (max-width: 460px) {
  .filter {
    font-size: 15px;
  }
  /* ul.horizontal_menu {
        margin-left: 25px;
    } */
}

@media only screen and (max-width: 767px) {
  .timeline-item-content,
  .timeline-item:nth-child(odd) .timeline-item-content {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
  }
  .timeline-item-content .tag {
    width: calc(100% - 10px);
    text-align: center;
  }
  .timeline-item-content .phase {
    width: calc(100% - 10px);
    text-align: center;
  }
  .tooltip .tooltiptext {
    width: 150px;
    margin-left: -75px;
  }
  .timeline-item-content time {
    margin-top: 60px;
  }
  .timeline-item-content a {
    text-decoration: underline;
  }
  .timeline-item-content a::after {
    display: none;
  }
}

.loader {
  margin: auto;

  border: 20px solid #eaf0f6;

  border-radius: 50%;

  border-top: 20px solid #ff7a59;

  width: 200px;

  height: 200px;

  animation: spinner 4s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.bn3 {
  display: inline-block;
  padding: 0.5em 1.7em;
  margin: -1em 2em 1em 1em;
  border: 0.16em solid rgb(255, 255, 255);
  background-color: #000000;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #ffffff;
  text-shadow: 0 0.04em 0.04em rgba(66, 59, 59, 0.349);
  text-align: center;
  transition: all 0.2s;
  cursor: pointer;
}

.bn3-active {
  color: black;
  background-color: rgb(255, 255, 255);
}
.logo {
  width: 100%;
  height: 100%;
  max-width: 200px;
  cursor: pointer;
  z-index: 8;
  position: relative;
}

#menuToggle {
  display: block;
  width: calc(100% - 30px);
  height: calc(100% - 50px);
  position: relative;
  top: 50px;
  left: 30px;
  z-index: 7;

  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a {
  text-decoration: none;
  color: white;
  margin: -1em 2em 1em 1em;
  transition: color 0.3s ease;
}

#menuToggle a:hover {
  color: tomato;
  cursor: pointer;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;

  cursor: pointer;

  opacity: 0; /* hide this */
  z-index: 12; /* and place it over the hamburger */

  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
#menuToggle span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;

  z-index: 8;

  transform-origin: 4px 0px;

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: white;
}

/*
 * But let's hide the middle one.
 */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
#menu {
  position: absolute;
  width: calc(100% + 50px);
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;

  background: black;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */

  transform-origin: 0% 0%;
  transform: translate(-100%, 0);

  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}

#menu li {
  padding: 10px 0;
  font-size: 22px;
}

/*
 * And let's slide it in from the left
 */
#menuToggle input:checked ~ ul {
  transform: none;
}

.imax{
  width: 50px;
  margin-top: 10px;
}
